@model RegisterModel

<h2>Register</h2>
<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="Register" asp-controller="Account" method="post"
      enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label>Upload an avatar image (JPEG file)</label>
        <input asp-for="AvatarImage" />
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
